@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'app/shared/styles/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #e7e8f1;
}

:root {
  --success-color: #28a745;
  --warning-color: #ffd012;
  --error-color: #dc3545;
}
